@import url("./assets/fonts/fontFaces.css");


@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  *{
    transition: all ease-in-out 50ms;
  }
  body {
    font-family: 'tt';
    font-weight: 300;
    font-size: 14px;
  }
  .light-box {
    @apply fixed top-0 left-0 backdrop-blur-sm  bg-black/30 block  w-screen min-h-screen h-full overflow-hidden z-50
  }
}